@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    font-family: 'Satoshi', sans-serif;
}

.navbar{
    font-family:'Satoshi', sans-serif;
} */


@font-face {
    font-family: 'Integral CF';
    src: url('/fonts/integral-cf/Fontspring-DEMO-integralcf-bolf.otf') format('woff2'),
         url('/fonts/integral-cf/IntegralCF-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Integral CF';
    src: url('/fonts/integral-cf/IntegralCF-Bold.woff2') format('woff2'),
         url('/fonts/integral-cf/IntegralCF-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}