@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    font-family: 'Satoshi', sans-serif;
}

.navbar{
    font-family:'Satoshi', sans-serif;
} */

/* body{
    background-color: black;
} */

